{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container"></div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Cart</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if purchase_items %}
                    <div class="table-responsive rounded">
                        <div class="table-responsive rounded">
                            <table class="table table-sm table-borderless">
                                <thead class="text-black">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Number of hours</th>                                        
                                    </tr>
                                </thead>

                                {% for item in purchase_items %}
                                    <tr>
                                        <td class="p-3 purchase-image-width">
                                            <img class="img-fluid rounded" src="{{ item.service.image_url }}">
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0"><strong>{{ item.service.name }}</strong></p>                                     
                                        </td>
                                        <td class="py-3">
                                            <p class="my-0" id="price">€{{ item.service.price }}</p>
                                        </td>
                                        <td class="py-3 w-15">
                                            <form class="form update-qty" method="POST" action="{% url 'adjust_purchase' item.service.pk %}">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <!-- Decrement quantity button -->
                                                        <div class="input-group-prepend">
                                                            <button class="decrement-qty btn btn-sm border" data-item_id="{{ item.service.pk }}" id="decrement-qty_{{ item.service.pk }}">
                                                                <span><i class="fas fa-minus fa-sm"></i></span>
                                                            </button>
                                                        </div>
                                                        <!-- Quantity field -->
                                                        <input class="form-control form-control-sm qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="1000" data-item_id="{{ item.service.pk }}" id="id_qty_{{ item.service.pk }}">
                                                        <!-- Increment quantity button -->
                                                        <div class="input-group-append">
                                                            <button class="increment-qty btn btn-sm border" data-item_id="{{ item.service.pk }}" id="increment-qty_{{ item.service.pk }}">
                                                                <span><i class="fas fa-plus fa-sm"></i></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <a class="update-link link-dec-none"><small>Update</small></a>
                                            <a class="remove-item float-end link-dec-none" id="remove_{{ item.service.pk }}"><small>Remove</small></a>
                                        </td>                                        
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="5" class="pt-5 text-end">                                                                          
                                        <h4 class="mt-4">Grand Total: €{{ grand_total|floatformat:2 }}</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-end">
                                        <a href="{% url 'service' %}" class="btn btn-outline-black btn-lg border">
                                            <span class="icon"><i class="fas fa-chevron-left"></i></span>
                                            <span>Keep Shopping</span>
                                        </a>
                                        <a href="{% url 'checkout' %}" class="btn btn-black btn-lg"><span>Checkout</span></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your cart is empty</p>
                    <a href="{% url 'service' %}" class="btn btn-lg btn-outline-black border">
                        <span class="icon"><i class="fas fa-chevron-left"></i></span>
                        <span>Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'service/includes/quantity_input_script.html' %}

<script type="text/javascript">
    //Update quantity of selected book on click
    $(".update-link").click(function(e) {
        var form = $(this).prev(".update-qty");
        form.submit();
    })

    //Remove book and refresh page on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var serviceId = $(this).attr('id').split('remove_')[1];
        var url = `/purchase/remove/${serviceId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}
