{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block page_header %}
<div class="container header-container"></div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Blog</h2>
                <hr>
            </div>
        </div>

        <div class="row-8">
            {% if request.user.is_superuser %}
                <a href="{% url 'add_post' %}" class="btn btn-outline border float-end">
                    <span class="icon"><i class="fas fa-plus"></i></span>
                    <span class="font-weight-bold">Add Post</span>
                </a>
            {% endif %}
            {% for post in posts %}
            <div class="col-12 mb-3">
                <div class="card h-100 border-0">
                    <div class="card-body pb-0">
                        <p class="mb-0">
                            <a class="link-dec-none" href="{{ post.get_absolute_url }}">
                                <strong>{{ post.title }}</strong>
                            </a>
                        </p>
                        <p class="mb-0 small">{{ post.publish|naturaltime }}</p>
                        <p class="mb-0 small">by {{ post.author }}</p>
                        <p class="mt-1 large">{{ post.body|truncatewords:30 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}
