{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black"> </h1>
                <p> Dhakal consulantcy is a development consultancy. This works with a broad range of actors to achieve 
                    results that are useful and practical to the client. The main fields of work are:</p>
                   <li> Water Supply and Sanitation</li> 
                    <li>Desalination</li>
                   <li>Front end software development</li> 
                   <li>Backend software development</li> 
                   <li>Website design and development</li>
                <p>Our work model is one of cooperation and sharing. We work and partner with a large variety of international and national civil society organisations from across the globe to optimise our services and strengthen our commercial activities.</p>
               
                </p>   
            </div>
        </div>
    </div>
{% endblock %}