{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="#">
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{%block content %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Thank you for your inquiry</h2>
                <p>Your contact information and message was successfully submitted.</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="{% url 'service' %}" class="btn btn-outline-black rounded-0 btn-lg text-center">
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            </div>
        </div>
    </div>

 {% endblock %}
 